<!DOCTYPE html>
<html>
<head>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
    }
    th {
      background-color: #f2f2f2;
      text-align: left;
    }
  </style>
</head>
<body>
  <p>Dear Customer,</p>
  <p>Thank you for your enquiry. We have received your request and here are the details associated with your cart ID: <strong>{{cart_id}}</strong>.</p>

  <table>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Quantity</th>
    </tr>
    {{#each items}}
    <tr>
      <td>{{inc @index}}</td>
      <td>{{name}}</td>
      <td>{{quantity}}</td>
    </tr>
    {{/each}}
  </table>

  <p>We will get back to you with a quotation shortly. In the meantime, please feel free to contact us if you have any further questions or need assistance.</p>
  <p>Thank you for choosing our services.</p>
  <p>Best regards</p>
  <img src="{{signatureUrl}}" alt="Signature" style="max-width:450px; margin-top:10px;" />
  <p>
    Note: This is a system generated message. For any further clarification, please contact us on call.

Disclaimer: Information contained and transmitted by this email is confidential and proprietary to Sheth Trading Corporation. Information contained is for use only by the recipients. If you are not the intended recipient, you are notified that dissemination or copying of this email or its contents therein is strictly prohibited; you are requested to delete this email immediately and notify the sender. Sheth Trading Corporation does not enter into any binding agreement with any party by e-mail. Any views expressed by an individual do not necessarily reflect the view of Sheth Trading Corporation. Sheth Trading Corporation is not responsible for the consequences of any actions taken on the basis of information provided. While this e-mail has been checked for all known viruses the addressee should also scan for viruses.

  </p>
</body>
</html>
